@model IEnumerable<POOII_CASO1_ADOLFO_PLANCHART.Models.pa_listar_papeletas>

@{
    ViewBag.Title = "Papeletas por año";
}

<h2>Papeletas por año.</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
<p>
    <b>Filtrar por año:</b>
    <input type="text"
           name="anio"
           value="@ViewBag.ANIO"
           class="form-control" />
    <br />
    <input type="submit"
           class="btn btn-success btn-block"
           value="Consultar" />
</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NROPAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAPFECHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMPRO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NROPLA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CODINF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NROPAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAPFECHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMPRO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NROPLA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CODINF)
        </td>
    </tr>
}

</table>
