@model IEnumerable<POOII_CASO1_ADOLFO_PLANCHART.Models.pa_listar_papeletas>

@{
    ViewBag.Title = "PapeletasPorAnio";
}

<h2>PapeletasPorAnio</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NROPAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAPFECHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMPROP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NROPLA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CODINF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NROPAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAPFECHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMPROP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NROPLA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CODINF)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
